[Unit]
Description=Gunicorn instance to serve webapp
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/ansible-git-webapp/webapp
ExecStart=/usr/bin/gunicorn3 --workers 3 --bind unix:/home/ubuntu/ansible-git-webapp/webapp/webapp.sock run:app

[Install]
WantedBy=multi-user.target